// BUTTONS
// ============================================================

.btn {
  @include margin(null .5em null);
  font-family: $font-utility;
  text-transform: uppercase;
  @include corners(6px);
  @include media(min-width $tablet) {
    font-size: 1.2em;
    line-height: 1em;
  }
  @include media(max-width $tablet) {
    font-size: 1em;
    line-height: 1em;
  }
  &:active, &:focus {
    outline: none;
  }
}

.btn-orange {
  @include border($stroke, $stroke, $white, 5);
  background: $orange;
  &:hover, &:active, &:focus {
    @include border($stroke, $stroke, $white, 0);
    background: $orange-hover;
  }
  &.borderless {
    @include border(0, ($stroke - 2), $white, 5);
      &:hover, &:active, &:focus {
      @include border(0, ($stroke - 2), $white, 0);
    }
  }
}

.btn-blue {
  color: $blue;
  @include border($stroke, 0, $blue, 0);
  background: none;
  &:hover, &:active, &:focus {
    color: $blue;
    background: none;
  }
}

.btn-white {
  @include border($stroke, 0, $white, 0);
  background: none;
  &:hover, &:active, &:focus {
    background: none;
  }
}

.btn-large {
  @include media(min-width $tablet) {
    font-size: 1.6em;
    line-height: 1em;
  }
  @include media(max-width $tablet) {
    font-size: 1em;
    line-height: 1em;
  }
}

.btn-small {
  @include media(min-width $tablet) {
    font-size: .8em;
    line-height: 1em;
  }
  @include media(max-width $tablet) {
    font-size: 1em;
    line-height: 1em;
  }
}