// STRUCTURE
// ============================================================

.outer,
.inner,
.content {
	position: relative;
}

.outer {
	overflow: hidden;
	z-index: 1;
}
.inner {
	@include outer-container;
	z-index: 2;
}
.content {
	z-index: 3;
}

.bg-image {
	position: absolute;
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
	img {
		position: absolute; 
	  top: 0; 
	  left: 0; 
	  right: 0; 
	  bottom: 0; 
	  margin: auto; 
	  min-width: 50%;
	  min-height: 50%;
	}
}

#bg-image-a {
	display: block;	
}

#bg-image-b,
#bg-image-c {
	display: none;
}

// CONTENT
// ============================================================

.hero {
	min-height: 38em;
	@include margin(8em null null);
	position: relative;
	.content {
		@include span-columns(5);
		min-height: 100vh;
	}
}

// HERO A =======================

.hero-a {
	.inner {
		@include pad(4em 0 5em);
	}
	.content {
		.hero-box {
			@include corners(.6em);
			@extend .padding;
			@extend .content-dark;
			@extend .bg-white;
			box-shadow:
				0 $stroke 0 rgba(0,0,0,.1),
				inset 0 -4px 0 rgba(0,0,0,.1);
		}
	}
}

// HERO B =======================

.hero-b {
	.inner {
		@include pad(4em 0 5em);
	}
	.content {
		.hero-box {
			@include corners(.6em);
			@extend .padding;
			@extend .content-light;
			background-color: transparentize($blue,0);
			box-shadow:
				0 $stroke 0 rgba(0,0,0,.1),
				inset 0 -4px 0 rgba(0,0,0,.1);
		}
	}
}

// HERO C =======================

.hero-c {
	.content {
		@include span-columns(5);
		@include pad(3em null null);
		background-color: transparentize($white,.1);
		@extend .padding;
		@extend .center;
		.hero-box {
			@extend .content-dark;
		}
		.btn {
			@extend .borderless;
			@include margin(9em null null);
		}
	}
}

// HERO D =======================

.hero-d {
	.content {
		@include span-columns(5);
		@include pad(3em null null);
		@extend .bg-blue;
		@extend .padding;
		@extend .center;
		@extend .content-light;
		.btn {
			@include margin(9em null null);
		}
	}
}

// HERO E =======================

.hero-e {
	.content {
		@include span-columns(5);
		@include pad(3em 4em 2em 0);
		background-color: transparentize($white,.1);
		box-shadow: -20em 0 0 transparentize($white,.1);
		.hero-box {
			@extend .content-dark;
		}
		.btn {
			@extend .borderless;
		}
	}
}

// HERO F =======================

.hero-f {
	.content {
		@include span-columns(5);
		@include pad(3em 4em 2em 0);
		@extend .bg-blue;
		@extend .content-light;
		box-shadow: -20em 0 0 $blue;
	}
}

// BLOCKS =======================

.block-basic {
	@include span-columns(8);
	@include shift(2);
}

@each $color in orange, blue, suds_1, suds_2, white, black, grey {
  .basic-#{$color} {
    @extend .bg-#{$color};
  }
}
@each $color in orange, blue, suds_1, suds_2, black {
  .basic-#{$color} {
    @extend .content-light;
    .btn-secondary {
    	@extend .btn-white;
    }
  }
}
@each $color in white, grey {
  .basic-#{$color} {
    @extend .content-dark;
    .btn-secondary {
    	@extend .btn-blue;
    }
  }
}
@each $color in white, grey {
  .basic-#{$color} {
    @extend .content-dark;
    .btn-primary {
    	@extend .borderless;
    }
  }
}

// TRUSTED BY

.trusted-by {
	.content {
		@include outer-container;
	}
	.trusted-by-title {
		@include span-columns(2);
	}
	.trusted-by-list {
		@include span-columns(10);
		@include omega;
		li {
			@include span-columns(3);
  		@include omega(4n);
  		@include pad(null 1em);
  		color: lighten($black, 30);
  		font-weight: 900;
  		text-align: center;
  		.client-logo {
  			@include size(6em);
  			@include margin(null auto);
  			.client-aca {
  				fill: lighten($black, 30);
  			}
  		}
		}
	}
}

.home-about-buckets {
	.content {
		@include outer-container;
	}
	.item {
		@include span-columns(4);
		@include omega(3n);
		@include corners(.6em);
	}
}

.icon-contact {
	@include size(6em);
	@include margin(null auto);
	.svg-contact {
		fill: $white;
	}
}

// WHATEVER =======================

.svg {
	@include size(6em);
	@include margin(null auto 1em);
}

.svg-people,
.svg-performance,
.svg-purpose {
	fill: $blue;
}

.goldie {
	@include span-columns(8);
}

.side-bear {
	@include span-columns(4);
}

.side {
	@include margin(null null 2em);
	@include corners(.6em);
}

// COLORS
// ============================================================

.content-dark {
	h1 { color: $blue; }
	h2,
	h3 { color: $black; }
	p, li  { color: transparentize($black, .3); }
}

.content-light {
	h1,
	h2,
	h3,
	p,
	li  { color: $white; }
}