// STRUCTURE
// ============================================================

.bg-image-fade {
	$fade-duration: 1s;
  -webkit-animation: fade-in $fade-duration ease;
  -moz-animation: fade-in ease-in-out $fade-duration both;
  -ms-animation: fade-in ease-in-out $fade-duration both;
  -o-animation: fade-in ease-in-out $fade-duration both;
  animation: fade-in $fade-duration ease;
  visibility: visible;
  -webkit-backface-visibility: hidden;
}

@-webkit-keyframes fade-in {0%{opacity:0} 100%{opacity:1}}
@-moz-keyframes fade-in {0%{opacity:0} 100%{opacity:1}}
@-o-keyframes fade-in {0%{opacity:0} 100%{opacity:1}}
@keyframes fade-in { 0%{opacity:0} 100%{opacity:1}}

// CONTENT
// ============================================================

.hero {
	.inner {
		.content {
			.hero-box {
				@extend .content-light;
				background-color: transparentize($blue,0);
			}
		}
	}
}

.bg-image-transparent {
	.bg-image {
		opacity: .6;
	}
}
.bg-image-transparent-more {
	.bg-image {
		opacity: .1;
	}
}

// BLOCKS
// ============================================================

// BASIC =======================

// .block-basic {
// 	@include span-columns(8);
// 	@include shift(2);
// }

@each $color in orange, blue, suds_1, suds_2, white, black, grey-dark, grey {
  .basic-#{$color} {
    @extend .bg-#{$color};
  }
}
@each $color in orange, blue, suds_1, suds_2, black, grey-dark {
  .basic-#{$color} {
    @extend .content-light;
    .btn-secondary {
    	@extend .btn-white;
    }
  }
}
@each $color in white, grey {
  .basic-#{$color} {
    @extend .content-dark;
    .btn-secondary {
    	@extend .btn-blue;
    }
  }
}
@each $color in white, grey {
  .basic-#{$color} {
    @extend .content-dark;
    .btn-primary {
    	@extend .borderless;
    }
  }
}

.block-photo {
	background-position: center center;
	background-size: cover;
}
.block-photo-top {
	background-position: top center;
}

// FAQ =======================

.faq-list {
	li {
		@include margin(null null 1em);
		font-family: $font-head;
		font-size: 1.4em;
		font-weight: bold;
		line-height: 1.2em;
		&.selected a {
			color: $white;
		}
		a {
			color: $blue;
		}
	}
}

.faq-list-fixed {
	position: fixed;
  top: 4.5em;
  height: 100%;
}

// QUOTE =======================

.block-quote {
	.inner {
		.content {
			blockquote {
				position: relative;
				.cite-person {
					font-weight: bold;
				}
				.cite-person,
				.cite-title {
					color: inherit;
				}
			}
		}
	}
}

// TRUSTED BY =======================

.trusted-by {
	.trusted-by-list {
		li {
  		color: lighten($black, 30);
  		font-family: $font-subhead;
  		font-weight: 900;
  		text-align: center;
  		line-height: 1em;
  		.client-logo {
  			.client-aca {
  				fill: lighten($black, 30);
  			}
  		}
		}
	}
}

.home-about-buckets {
	.item {
		h3 {
			color: $blue;
		}
	}
}

// FORM - CONTACT =======================

input {
	min-height: 3em;
}

.form-contact {
	label {
		@extend h5;
	}
	input {
		@include margin(null null 1.4em);
		@include pad(1em);
		font-family: $font-subhead;
		font-weight: bold;
		font-size: 1.6em;
		background-color: $white;
		box-shadow: none;
		border: $stroke solid darken($white,15);
		&:hover {
			border: $stroke solid darken($white,20);
		}
		&:focus {
			color: $black;
			border: $stroke solid $suds1;
			outline: none;
			box-shadow: none;
		}
	}
}

// WHATEVER =======================

.svg {
	@include size(6em);
	@include margin(null auto 1em);
}

.svg-people,
.svg-performance,
.svg-purpose {
	fill: $blue;
}