// STRUCTURE
// ============================================================

.outer,
.inner,
.content {
	position: relative;
}

.outer {
	overflow: hidden;
	z-index: 1;
}
.inner {
	@include outer-container;
	z-index: 2;
}
.content {
	z-index: 3;
}

.bg-image {
	position: absolute;
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
	img {
		position: absolute; 
	  top: 0; 
	  left: 0; 
	  right: 0; 
	  bottom: 0; 
	  margin: auto; 
	  min-width: 50%;
	  min-height: 50%;
	}
}

// CONTENT
// ============================================================

.hero {
	min-height: 75vh;
	.inner {
		@include pad(4em 0 5em);
	}
	.content {
		box-shadow:
			0 $stroke 0 rgba(0,0,0,.1),
			inset 0 -4px 0 rgba(0,0,0,.1);
			@include linear-gradient(to top, darken($white, 10) 0%, $white 20%); }
	.btn {
		@include margin(0 null -2em);
	}
}

.bear-papa {
	@include span-columns(5);
	@include corners(.6em);
}

.bear-mama {
	@include span-columns(8);
	@include shift(2);
}

.bear-baby {
	@include span-columns(4);
	@include corners(.6em);
}

.goldie {
	@include span-columns(8);
}

.side-bear {
	@include span-columns(4);
}

.side {
	@include margin(null null 2em);
	@include corners(.6em);
}

// COLORS
// ============================================================

.content-dark {
	h1 { color: $blue; }
	h2,
	h3 { color: $black; }
	p  { color: lighten($black, 20); }
}

.content-light {
	h1,
	h2,
	h3,
	p  { color: $white; }
}