// NATIVE
// ============================================================

* {
	transition: all .1s ease-in-out;
}

// SELECTORS
// ============================================================

.center { @include text-align(center); }

.padding-x { @include pad(0 2em); }
.padding-y { @include pad(2em 0 3em); }
.padding { @include pad(2em); }

.drop-shadow  { box-shadow: 0 $stroke 0 rgba(0,0,0,.1); }
.inner-shadow { box-shadow: inset 0 $stroke 0 rgba(0,0,0,.1); }

.bg-black      { background-color: $black; }
.bg-blue       { background-color: $blue; }
.bg-suds1      { background-color: $suds1; }
.bg-suds2      { background-color: $suds2; }
.bg-grey       { background-color: lighten($black,65); }
.bg-white      { background-color: $white; }

.bg-white-gradient { @include linear-gradient(to top, darken($white, 10) 0%, $white 20%); }

.bg-photo {
	background-image: url(../_img/bg-photo.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
