// FOOTER =======================

.footer {
	.footer-nav {
		.footer-nav-list {
			font-family: $font-utility;
			font-weight: bold;
			text-transform: uppercase;
			li {
				a {
					color: lighten($black,20);
					&:hover {
						color: $black;
					}
				}
			}
		}
	}
	.footer-newsletter {
		@include text-align(center);
		.mc4wp-form {
			position: relative;
			font-family: $font-body;
			input[type=email] {
				font-family: $font-subhead;
				font-weight: bold;
				font-size: 1.2em;
				border: none;
				@extend .drop-shadow;
				background-color: $white;
			}
			input[type=submit],
			input[type="button"],
			input[type="reset"],
			input[type="submit"],
			button,
			.footer-newsletter-btn {
				font-family: $font-utility;
				font-size: .8em;
				@include corners(6px);
				background-color: $blue;
				box-shadow: inset 0 -#{$stroke} 0 darken($blue,5);
				&:hover {
					background-color: $blue-hover;
					box-shadow: inset 0 -#{$stroke} 0 darken($blue-hover,5);
				}
			}
			.footer-newsletter-message {
				font-size: 1em;
				color: darken($white,40);
			}
		}
	}
	.footer-social {
		@include text-align(right);
		opacity: .5;
		.footer-social-list li {
			a:hover .svg-social {
				fill: $black;
			}
		}
		.svg {
			.svg-social {
				fill: lighten($black,20);
			}
		}
		.social-title {
			@include display(none);
		}
	}
}

.copyright p {
	font-size: 1em;
	color: darken($white,40);
}