// FOOTER =======================

.footer {
	// @include pad(0 0 4em);
	.footer-nav {
		// @include span-columns(4);
		// @include margin(2.5em null null);
		.footer-nav-list {
			font-family: $font-utility;
			font-weight: bold;
			text-transform: uppercase;
			li {
				// @include margin(0 1em .5em 0);
				// @include display(inline-block);
				a {
					color: lighten($black,20);
					&:hover {
						color: $black;
					}
				}
			}
		}
	}
	.footer-newsletter {
		@include text-align(center);
		.footer-newsletter-form {
			input[type=text] {
				font-family: $font-subhead;
				font-weight: bold;
				font-size: 1.2em;
				border: none;
				@extend .drop-shadow;
				background-color: $white;
			}
			input[type=submit],
			.footer-newsletter-btn {
				background-color: $blue;
				box-shadow: inset 0 -#{$stroke} 0 darken($blue,5);
				&:hover {
					background-color: $blue-hover;
					box-shadow: inset 0 -#{$stroke} 0 darken($blue-hover,5);
				}
			}
		}
		.footer-newsletter-message {
			font-size: 1em;
			color: darken($white,40);
		}
	}
	.footer-social {
		@include text-align(right);
		.footer-social-list li {
			a:hover .svg-social {
				fill: $black;
			}
		}
		.svg {
			.svg-social {
				fill: lighten($black,20);
			}
		}
		.social-title {
			@include display(none);
		}
	}
}