// HEAD
// ============================================================

.head {
	font-family: $font-utility;
	text-transform: uppercase;
	background-color: $white;
	z-index: 10;
	a {
		display: inline-block;
		color: $blue;
	}
}

.head-left {
	@include span-columns(3);
}

.head-right {
	@include span-columns(9);
	@include omega;
}

.logo {
	@include text-align(center);
	h1  { @include hidden; }
	img { @include size(14em 3em); }
	h2  {
		@include margin(0);
		font-size: 1em;
		letter-spacing: .2em;
		color: $blue;
	}
	a {
		display: block;
		@include pad(1em 0);
		&:hover h2 {
			color: lighten($blue, 20);
		}
	}
}

.nav-primary {
	text-align: right;
	li {
		display: inline-block;
		font-size: 1em;
		letter-spacing: .2em;
		a {
			display: block;
			@include pad(1.4em 1em);
			&:hover {
				color: lighten($blue, 20);
			}
		}
		&.selected {
			a { color: $blue; }
			box-shadow: inset 0 -4px 0 $orange;
		}
	}
}

.nav-utility {
	@include pad(1.4em 1em 0 0);
	text-align: right;
	li {
		display: inline-block;
		font-size: .8em;
		a {
			display: block;
			@include pad(0em .5em);
			color: lighten($black, 40);
			&:hover {
				color: $black;
			}
		}
		&.selected {
			a { color: $black; }
		}
	}
}

.logo h2,
.nav-primary,
.nav-utility {
	font-family: $font-utility;
	font-size: 1em;
	text-transform: uppercase;
}