// HEAD
// ============================================================

.head {
	font-family: $font-utility;
	text-transform: uppercase;
	background-color: $white;
	box-shadow:
		0 $stroke 0 rgba(0,0,0,.1),
		inset 0 -4px 0 rgba(0,0,0,.03);
	a {
		color: $blue;
	}
}

// LOGO
// ====================

.logo-wrap {
	h1  { @include display(none); }
	.logo {
		@include size(14em 3em);
		@include margin(0 auto .45em);
	}
	.svg-logotype-orange { fill: $orange; }
	.svg-logotype-blue   { fill: $blue; }
	.svg-logotype-suds1  { fill: $suds1; }
	.svg-logotype-suds2  { fill: $suds2; }
	h2  {
		@include margin(0);
		font-size: 1em;
		letter-spacing: .2em;
		color: $blue;
	}
	a {
		display: block;
		@include pad(1.5em 0);
		&:hover {
			.svg-logotype-orange { fill: $orange-hover; }
			.svg-logotype-blue,
			.svg-logotype-suds1,
			.svg-logotype-suds2 { fill: $blue-hover; }
			h2 { color: $blue-hover; }
		}
	}
}

// NAV PRIMARY
// ====================

// NAV PRIMARY LEFT
// ====================

.nav-primary-left {
	text-align: left;
	a {
		&:hover {
			// box-shadow: inset 0 -4px 0 transparentize($black,.9);
			color: $blue-hover;
		}
	}
	li {
		letter-spacing: .2em;
		&.selected {
			a { color: $blue; }
			box-shadow: inset 0 -4px 0 $orange;
		}
	}
}

// NAV PRIMARY RIGHT
// ====================

.nav-primary-right {
	a {
		color: $white;
	}
}

@keyframes slideDown {
  from { top: -8em; }
  to { top: 0; }
}
.head-fixed {
	position: fixed;
	animation-name: slideDown;
  animation-duration: .2s;
}

// NAV UTILITY
// ====================

.nav-utility {
	text-align: right;
	li {
		a {
			display: block;
			color: lighten($black, 40);
			&:hover {
				color: $black;
			}
		}
		&.selected {
			a { color: $black; }
		}
	}
}

// LOGO SUB HEAD AND NAV TYPE STYLE
// =================================

.logo-wrap h2,
.nav-primary,
.nav-utility {
	font-family: $font-utility;
	font-size: 1em;
	text-transform: uppercase;
}

// HEAD - DEFAULT
// ============================================================

// HEAD - HOME
// ============================================================

// HEAD - COLLAPSED
// ============================================================

// HEAD - TABLET
// ============================================================

// HEAD - MOBILE
// ============================================================

.svg-nav-mobile { fill: $white; }
.svg-nav-mobile-close { fill: $black; }

// HEAD - MOBILE XS
// ============================================================

// MOBILE NAV
// ============================================================


.mobile-nav-expanded {
	&.head-mobile, &.head-mobile-xs {
		.head-right {
			@extend .bg-grey;
			@extend .inner-shadow;
			.nav-primary-left,
			.nav-primary-right,
			.nav-utility {
				text-align: center;
			}
		}
		.nav-mobile {
			transform: translate(0,.2em);
			color: $black;
			@extend .bg-grey;
			box-shadow: none;
		}
	}
}