// HEAD
// ============================================================

.head {
	@include fill-parent;
	// @include pad(1em 0 0);
	font-family: $font-utility;
	text-transform: uppercase;
	a {
		display: inline-block;
		color: $blue;
	}
}

.logo {
	@include span-columns(5);
	@include size(14em null);
	@include margin(null null null 2em);
	@include text-align(center);
	h1  { @include hidden; }
	img { @include size(100%); }
	h2  {
		@include margin(0);
		font-size: 1em;
		letter-spacing: .2em;
		color: $blue;
	}
	a {
		display: block;
		@include pad(1em 0);
		&:hover h2 {
			color: lighten($blue, 20);
		}
	}
}

.nav-primary {
	@include span-columns(4);
	text-align: left;
	li {
		display: inline-block;
		font-size: 1em;
		letter-spacing: .2em;
		a {
			display: block;
			@include pad(1.4em 1em);
			&:hover {
				color: lighten($blue, 20);
			}
		}
		&.selected {
			a { color: $blue; }
			box-shadow: inset 0 -4px 0 $orange;
		}
	}
}

.nav-contact {
	@include span-columns(4);
	text-align: right;
	li {
		@include margin(.4em 0 null);
		@include pad(0);
		// display: inline-block;
		// font-size: 1em;
		// letter-spacing: .2em;
		a {
			// display: block;
			// @include pad(1.4em 1em);
			// &:hover {
			// 	color: lighten($blue, 20);
			// }
		}
		// &.selected {
		// 	a { color: $blue; }
		// 	box-shadow: inset 0 -4px 0 $orange;
		// }
	}
}

.nav-utility {
	@include span-columns(8);
	@include margin(.8em null .4em);
	// @include pad(0 .8em 0 0);
	text-align: right;
	li {
		display: inline-block;
		font-size: .8em;
		a {
			display: block;
			@include pad(0em .5em);
			color: lighten($black, 50);
			&:hover {
				color: $black;
			}
		}
		&.selected {
			a { color: $black; }
		}
	}
}

.logo h2,
.nav-primary,
.nav-utility {
	font-family: $font-utility;
	font-size: 1em;
	text-transform: uppercase;
}