body {
	@include media(min-width $mobile) {
		@include margin(8em null null);
	}
	@include media(max-width $mobile) {
		@include margin(5em null null);
	}
}

.outer,
.inner,
.content {
	position: relative;
}

.outer {
	overflow: hidden;
	z-index: 1;
}
.inner {
	@include outer-container;
	z-index: 2;
}
.content {
	z-index: 3;
}

.inner-full-width {
	@include fill-parent;
	max-width: none;
}

.half {
	@include media(min-width $tablet) {
		@include span-columns(6);
		@include omega(2n);
	}
}

.third {
	@include media(min-width $tablet) {
		@include span-columns(4);
		@include omega(3n);
	}
	@include media(max-width $tablet) {
		@include margin(0 0 2em 0);
	}
}

.one-third {
	@include media(min-width $tablet) {
		@include span-columns(4);
	}
}
.two-thirds {
	@include media(min-width $tablet) {
		@include span-columns(8);
	}
}
.omega {
	@include omega;
}

// HEAD
// ============================================================

.head {
	@include fill-parent;
	height: 8em;
	position: absolute;
	top: 0;
	z-index: 10;
	a {
		display: inline-block;
	}
}

// HERO - HOME
// ============================================================

.hero {
	position: relative;
}

.bg-image-hero {
	@include media(min-width $desktop) {
		position: absolute;
	  top: -50%;
	  left: -50%;
	  width: 200%;
	  height: 200%;
		img {
			position: absolute;
		  top: 0;
		  left: 0;
		  right: 0;
		  bottom: 0;
		  margin: auto;
		  min-width: 50%;
		  min-height: 50%;
		}
	}
	@include media(max-width $desktop) {
		@include margin(null null -1em);
	}
}

.bg-image {
	position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
	img {
		position: absolute;
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
	  margin: auto;
	  min-width: 50%;
	  min-height: 50%;
	}
}

// DESKTOP (1100) AND UP ============================================================
@include media(min-width $desktop) {
	.head {
		.head-left {
			@include span-columns(3);
			.logo-wrap {
				@include text-align(center);
			}
		}
		.head-right {
			@include span-columns(9);
			@include omega;
		}
		.nav-primary-left {
			@include span-columns(6);
		}
		.nav-primary-right {
			@include span-columns(6);
			@include omega;
		}
	}
	.hero {
		min-height: 38em;
		.inner {
			@include pad(4em 0 5em);
			.content {
				@include span-columns(5);
				min-height: 100vh;
				.hero-box {
					@include pad(2em);
					@include corners(.6em);
					box-shadow:
						0 $stroke 0 rgba(0,0,0,.1),
						inset 0 -#{$stroke} 0 rgba(0,0,0,.1);
				}
			}
		}
	}
}
// DESKTOP (1100) AND DOWN ============================================================
@include media(max-width $desktop) {
	.head {
		.inner {
			@include pad(0 1em);
		}
		.head-left {
			.logo-wrap {
				.logo {
					@include margin(null 0);
				}
			}
		}
		.head-right {
			@include text-align(right);
			.nav-primary-left {
				float: none;
				width: auto;
				display: inline-block;
			}
			.nav-primary-right {
				float: right;
				width: auto;
				.btn {
					@include margin(3.5em null null);
				}
				.nav-utility {
					@include display(none);
				}
			}
		}
	}
	.head-fixed {
		@include display(none);
	}
	.hero {
		.inner {
			.content {
				@include pad(2em);
				@include text-align(center);
				.btn {
					@include margin(0);
				}
			}
		}
	}
}
// DESKTOP (1100) TO TABLET (700) ============================================================
@include media(max-width $desktop min-width $tablet) {
	.head {
		.head-left {
			@include span-columns(3);
		}
	}
}
// TABLET (700) AND UP ============================================================
@include media(min-width $tablet) {
	.head {
		.nav-mobile {
			@include display(none);
		}
	}
}
// DESKTOP (1100) TO TABLET (700) ============================================================
@include media(max-width $desktop min-width $tablet) {
	.head {
		.head-left {
			@include span-columns(4.5);
		}
	}
}
// DESKTOP (1100) TO MOBILE (410) ============================================================
@include media(min-width $mobile max-width $desktop) {
	.head {
		.head-right {
			.nav-primary-right {
				position: absolute;
				top: 1em;
				right: 1em;
				.btn {
					@include margin(0);
					@include display(block);
				}
			}
		}
	}
}
// TABLET (700) AND DOWN ============================================================
@include media(max-width $tablet) {
	.head {
		.head-left {
			@include span-columns(7);
		}
		.head-right {
			@include display(none);
		}
	}
	.head {
		.inner {
			@include pad(0 1em);
		}
		.nav-mobile {
			position: absolute;
			top: 1em;
			right: .2em;
			max-width: 6.4em;
			font-size: 1.2em;
			.icon-nav-mobile,
			.icon-nav-mobile-close {
				@include display(inline-block);
				@include size(1em);
				vertical-align: bottom;
			}
			.icon-nav-hide {
				@include display(none);
			}
		}
	}
}
// MOBILE XS (320) AND UP ============================================================
@include media(min-width $mobile-xs) {
	.head {
		.logo-mobile {
			@include display(none);
		}
	}
}
// MOBILE (410) AND DOWN ============================================================
@include media(max-width $mobile) {
	.head {
		height: 5em;
		min-width: 15em;
		.head-left {
			.logo-mobile {
				@include display(block);
				@include size(4em 3em);
			}
			.logo-wrap {
				a {
					@include padding(1em null);
					.logo {
						@include display(none);
					}
				}
			}
		}
		.head-right,
		.logo-wrap h2 {
			@include display(none);
		}
		.nav-mobile {
			top: .8em;
			@include margin(0);
		}
	}
	.hero .inner .content {
		@include pad(1em);
	}
}

// MOBILE NAV
// ============================================================
@include media(max-width $tablet) {
	.head.mobile-nav-expanded {
		position: fixed;
		overflow: visible;
		height: 100vh;
		@include pad(0);
		background-color: transparentize($blue,.1);
		.inner {
			@include outer-container;
			@include margin(0);
			background-color: $white;
			.head-right {
				@include span-columns(12);
				display: block;
				clear: both;
				@include margin(0 0 1em);
				@include pad(1em 0);
				background-color: $grey;
				.nav-primary,
				.nav-primary-left,
				.nav-primary-right,
				.nav-utility {
					@include display(block);
					position: initial;
					@include fill-parent;
					@include margin(0);
					@include text-align(center);
					li {
						@include display(inline-block);
						@include margin(0);
						font-size: 1.2em;
    				line-height: .8em;
						letter-spacing: 0;
						box-shadow: none;
						a {
							@include display(inline-block);
							@include margin(.6em);
							@include pad(0 .2em);
						}
					}
				}
				.btn-cta {
					display: block;
					@include margin(1em null null);
					@include padding(.75em 1em);
					font-size: 1.2em;
    			line-height: 1.2em;
				}
			}
		}
	}
}

// NAV PRIMARY
// ====================

.nav-primary {
	li {
		display: inline-block;
		font-size: 1em;
		a {
			display: block;
		}
	}
}

// NAV PRIMARY LEFT
// ====================

.nav-primary-left {
	@include margin(3.8em null null);
	a {
		@include pad(1em 1em 1.7em);
	}
}

// NAV PRIMARY RIGHT
// ====================

.nav-primary-right {
	@include text-align(right);
	li {
		font-size: 1rem;
	}
	button {
		@include pad(.5em null);
		white-space: inherit;
	}
	.btn {
		@include margin(1em 0 0 0);
	}
}

// NAV UTILITY
// ====================

.nav-utility {
	@include pad(1.2em 0 0 0);
	li {
		display: inline-block;
		font-size: .8em;
		a {
			display: block;
			@include pad(0em .5em);
		}
	}
}

// LOGO SUB HEAD AND NAV TYPE STYLE
// =================================

.logo-wrap h2,
.nav-primary,
.nav-utility {
	font-family: $font-utility;
	font-size: 1em;
	text-transform: uppercase;
}

// HEAD - DEFAULT
// ============================================================

// HEAD - HOME
// ============================================================

.head-home {
	@include size(100% null);
	.nav-utility {
		@include margin(3.4em null null);
	}
	.btn-cta {
		@include display(none);
	}
}

// HEAD - COLLAPSED
// ============================================================

.head-collapsed {
	height: auto;
	.head-left {
		@include span-columns(1);
		.logo-wrap a {
			@include pad(.4em 0);
			h2 {
				@include display(none);
			}
		}
		.logo-mobile {
			@include display(block);
			@include size(4em 3em);
		}
		.logo {
			@include display(none);
		}
	}
	.head-right {
		@include span-columns(11);
		.nav-primary-left {
			@include margin(0 null 0 0);
			a {
				@include pad(1.5em 1em);
			}
		}
		.nav-primary-right {
			.nav-utility {
				@include display(none);
			}
			button {
				@include pad(.5em .8em);
			}
			.btn {
				@include margin(.8em null null);
			}
		}
	}
}

// BLOCK BASIC

.block-basic {
	@include media(min-width $desktop) {
		@include span-columns(8);
		@include shift(2);
	}
}

// BLOCK PHOTO

.block-photo-tall {
	min-height: 80vh;
}
.block-photo-profile {
	height: 20em;
	@include media(max-width $tablet) {
		@include margin(null 2em);
	}
}

// BLOCK HALVES

.block-halves {
	@include fill-parent();
	@include row(table);
	.block-half {
		// @include media(min-width $desktop) {
		// 	height: 20em;
		// }
		vertical-align: top;
	}
	.block-half-left {
		@include media(min-width $tablet) {
			@include span-columns(6);
		}
	}
	.block-half-right {
		@include media(min-width $tablet) {
			@include span-columns(6);
			@include reset-display;
		}
	}
	.block-photo {
		min-height: 20em;
	}
}

// ONE TWO THIRDS

.block-halves {
	@include fill-parent();
	@include row(table);
	.block-one-two-thirds-left {
		@include span-columns(3);
	}
	.block-one-two-thirds-right {
		@include span-columns(9);
		@include reset-display;
	}
}

// QUOTE

.block-quote {
	.inner {
		@include media(min-width $desktop) {
			@include pad(6em 0);
		}
		@include media(max-width $desktop) {
			@include pad(3em 0);
		}
		.content {
			@include span-columns(10);
			@include shift(1);
			blockquote {
				@include media(min-width $desktop) {
					@include margin(2em 0 0);
				}
				@include media(min-width $tablet) {
					@include pad(0 4em);
				}
				@include media(max-width $desktop) {
					@include text-align(center);
				}
				.svg {
					@include margin(0);
					@include pad(0);
					@include size(3em);
					position: absolute;
					top: -2em;
					@include media(max-width $tablet) {
						@include display(none);
					}
				}
				.svg-quote     { left: 0; }
				.svg-quote-end { right: 0; }
				cite {
					@include display(inline-block);
					@include margin(1em null null);
				}
			}
		}
	}
}

// TESTIMONIAL (depends on quote)

.block-testimonial {
	@include media(min-width $desktop) {
		min-height: 40em;
		.inner {
			.content {
				@include span-columns(7);
				@include shift(5);
				blockquote {
					@include margin(null null 2em);
					@include pad(0 0 0 4em);
				}
			}
		}
	}
	@include media(max-width $desktop) {
		.bg-image {
			position: initial;
			@include size(100%);
			img {
				position: initial;
			}
		}
	}
}

// TRUSTED BY

.trusted-by {
	.content {
		@include outer-container;
	}
	.trusted-by-title {
		@include media(min-width $desktop) {
			@include span-columns(2);
		}
		@include media(max-width $desktop) {
			@include text-align(center);
		}
	}
	.trusted-by-list {
		@include media(min-width $desktop) {
			@include span-columns(10);
		}
		@include media(max-width $desktop) {
			@include fill-parent;
		}
		@include omega;
		li {
			@include media(min-width $desktop) {
				@include span-columns(3);
	  		@include omega(4n);
  		}
  		@include media(max-width $desktop min-width $mobile-xs) {
				@include span-columns(6);
	  		@include omega(2n);
  		}
  		@include media(max-width $mobile-xs) {
				@include fill-parent;
  		}
  		@include pad(null 1em);
  		.client-logo {
  			@include size(6em);
  			@include margin(null auto);
  		}
		}
	}
}

// 3 COL BUCKETS

.home-about-buckets {
	.content {
		@include outer-container;
	}
	.item {
		@include media(min-width $tablet) {
			@include span-columns(4);
			@include omega(3n);
		}
		@include media(max-width $tablet min-width $mobile-xs) {
			@include outer-container;
			@include display(inline-block);
			@include text-align(left);
			.svg {
				@include margin(0 2em 2em 0);
				float: left;
			}
		}
		// @include media(max-width $tablet) {
		// 	@include margin(0 auto 2em);
		// }
	}
}

// FOOTER =======================

.footer {
	@include pad(0 0 4em);
	.footer-nav {
		@include media(min-width $desktop) {
			@include span-columns(4);
		}
		@include media(max-width $desktop) {
			@include text-align(center);
			@include margin(null null 3em);
		}
		@include margin(2.5em null null);
		.footer-nav-list {
			@include media(max-width $desktop) {
				@include display(inline);
			}
			li {
				@include margin(0 1em .5em 0);
				@include display(inline-block);
			}
		}
	}
	.footer-newsletter {
		@include media(min-width $desktop) {
			@include span-columns(4);
		}
		.footer-newsletter-form {
			position: relative;
			input[type=text] {
				@include padding(null 5em null null);
			}
			input[type=submit],
			.footer-newsletter-btn {
				position: absolute;
				top: .5em;
				right: .4em;
				z-index: 1;
				@include margin(0);
			}
		}
	}
	.footer-social {
		@include media(min-width $desktop) {
			@include span-columns(4);
			@include omega;
		}
		@include margin(2.5em null null);
		.footer-social-list {
			@include media(max-width $desktop) {
				@include text-align(center);
			}
			li {
				@include display(inline-block);
			}
		}
		.svg {
			@include size(3em);
			@include margin(0 0 0 .5em);
			@include pad(0);
		}
	}
}
