// MIXINS
// ============================================================

@mixin border($size, $inset-size, $color, $darken) {
	box-shadow:
		inset 0 0 0 $size $color,
		inset 0 (-$inset-size * 2) 0 darken($orange, $darken),
		0 $stroke 0 rgba(0,0,0,.1);
}

@mixin corners($radius) {
	@include border-top-radius($radius);
	@include border-right-radius($radius);
	@include border-bottom-radius($radius);
	@include border-left-radius($radius);
}

@mixin corners-each($radius-top, $radius-right, $radius-bottom, $radius-left) {
	@include border-top-radius($radius-top);
	@include border-right-radius($radius-right);
	@include border-bottom-radius($radius-bottom);
	@include border-left-radius($radius-left);
}

@mixin text-align($alignment) {
	text-align: $alignment;
}

@mixin replace {
	@include margin(0);
	@include pad(0);
	text-indent: -999px;
	overflow: hidden;
}

@mixin hidden {
	display: none;
}

@each $icon in people, performance, purpose, nav-mobile, nav-mobile-close {
  .icon-#{$icon} {
    background-image: url('../_img/icon_#{$icon}.svg');
  }
}