// VARIABLES
// ============================================================

$white: #fff;
$orange: #FF6B00;
$orange-hover: #FF8C1A;
$blue: #0082CB;
$suds1: #51B3DE;
$suds2: #94CBEA;
$black: #424243;

$widescreen: 1200px;
$desktop:    1024px;
$tablet:     768px;
$portrait:   480px;

$font-head:    'PT Sans Caption', sans-serif;
$font-subhead: 'PT Sans', sans-serif;
$font-utility: 'Montserrat', sans-serif;
$font-body:    'PT Serif', serif;

$stroke: 4px;