// STRUCTURE
// ============================================================

.outer   {}
.inner   { @include outer-container; }
.content {}

.wrap { @include outer-container; }

// CONTENT
// ============================================================

.hero {
	.inner {
		@include pad(4em 0 5em);
	}
	.btn {
		@include margin(null null -3em);
	}
}

.bear-papa {
	@include span-columns(5);
	@include corners(.6em);
}

.bear-mama {
	@include span-columns(8);
	@include shift(2);
}

.bear-baby {
	@include span-columns(4);
	@include corners(.6em);
}

.goldie {
	@include span-columns(8);
}

.side-bear {
	@include span-columns(4);
}

.side {
	@include margin(null null 2em);
	@include corners(.6em);
}

// COLORS
// ============================================================

.content-dark {
	h1 { color: $blue; }
	h2,
	h3 { color: $black; }
	p  { color: lighten($black, 20); }
}

.content-light {
	h1,
	h2,
	h3,
	p  { color: $white; }
}